---
import SocialIcon from "./SocialIcon.astro";
import LangLink from "./LangLink.astro";

import GithubIcon from "../icons/GithubIcon.astro";
import YoutubeIcon from "../icons/YoutubeIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import XIcon from "../icons/XIcon.astro";

import { useTranslations, type UiType } from "../i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang as UiType);
---

<footer class="flex w-full justify-between">
  <p class="text-sm">{t("footer.love")}</p>
  <div>
    <LangLink language="en" isActive={lang == "en"} />
    <LangLink language="es" isActive={lang == "es"} />
  </div>
</footer>
