---
const {title} = Astro.props;
---

<section class="container mt-8 sm:mt-10 mb-6 sm:mb-8">
  <div class="mb-6">
    <h2 class="capitalize font-bold text-xl sm:text-2xl mb-2">{title}</h2>
    <div class="h-1 w-full rounded-full gradient-line-h"></div>
  </div>
  <slot />
</section>
