---
const { href, name } = Astro.props;
---

<a
  class="w-4 h-4 inline-flex items-center justify-center rounded-full"
  href={href}
  target="_blank"
  rel="noreferrer noopener"
  aria-label={name}
>
  <span class="w-4 h-4 fill-current">
    <slot />
  </span>
  <span class="sr-only">{name}</span>
</a>
